<div class="jumbotron">
  <h1 class="display-4">Success!</h1>

  <hr class="my-4">
  <p>Your URL had been shortened, click on button below to access it</p>
  <a class="btn btn-primary btn-lg" href="{{BASE_URL}}/{{created.slug}}" role="button">{{BASE_URL}}/{{created.slug}}</a>
</div>